apiVersion: v1
kind: Service
metadata:
  name: platform-api
  labels:
    app: platform-api
spec:
  selector:
    app: platform-api
  type: ClusterIP
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8000