apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.api.name }}
spec:
  selector:
    {{- include "platform.selectorLabels" . | nindent 4 }}
  type: ClusterIP
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8000